.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 20px;
}
.headerOption__title {
  font-size: 14px;
  font-weight: 300;
}
.headerOption:hover {
  color: teal;
  cursor: pointer;
}
.avatar__div {
  display: flex;
  align-items: center;
}
