.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 222, 220);
  align-items: center;
}
.content {
  display: flex;
  margin-top: 50px;
  width: 70%;
  justify-content: center;
}
